@import '../../../public/styles/colors';

.Copyright01 {
  height: auto;
  background: rgb(167,161,255);
  background: linear-gradient(90deg, rgba(167,161,255,1) 0%, rgba(12,109,255,1) 100%);
  color: $whiteColor;

  &__content {
    font-size: 0.7rem;
    padding: 0.5rem;
    font-weight: 700;
    text-align: center;
    a {
      color: $whiteColor;
    }
  }
}