@import 'public/styles/kotelnikovo/colors';
@import 'public/styles/mixins';

.Gallery02 {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: $primaryColor;

  &__title {
    font-family: Monitorca-Bold;
    color: $blackColor;
  }

  &__gallery {
    margin: 0 auto;
    position: relative;

    &-item {
      position: absolute;
      transition: all 0.5s ease;
      cursor: pointer;
      box-sizing: border-box;
      border: 5px solid $blackColor;
    }
  }
}
