@import '../../../public/styles/kotelnikovo/colors';

.Controls01 {
  width: auto;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;

  &__column {
    padding: 0 10px;
    &-open, &-download, &-rating, &-vote {
      padding: 5px 0;
    }

    &-open span, &-download a, &-vote span {
      text-decoration: underline;
      color: $whiteColor;
      cursor: pointer;
    }

    &-vote {
      padding-right: 0;
    }
  }
}
