@import 'public/styles/colors';

.Title01 {
  min-height: 350px;
  height: 100vh;
  padding: 10% 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  background-color: $blackColor;
  background: url('/images/Title01/bg-main.jpg') no-repeat;
  background-size: cover;

  &__title {
    text-transform: uppercase;
    padding: 0 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $primaryFontColor;
  }

  &__about, &__register {
    text-transform: uppercase;
    position: fixed;
    top: 90%;
    font-size: 1rem;
    line-height: 1rem;
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 0.5rem;
    transition: all 0.3s ease;
    z-index: 3;
  }

  &__about {
    right: 52%;
    background-color: $primaryColor;
    opacity: 1;
    visibility: visible;
    &.scrolled {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__register {
    left: 52%;
    background-color: $secondaryColor;
    &.scrolled {
      top: 0.5rem;
      left: 0.5rem;
    }
  }


  &__text-slider {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media (orientation: portrait) {
      flex-direction: column;
    }

    &-left, &-right {
      width: auto;
      min-height: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-container {
        width: 100%;
        overflow: visible;
        display: flex;
        flex-direction: column;
        &-row {
          margin: 10px 0 80px 0;
          padding: 10px;
          width: auto;

          &:last-child {
            margin-bottom: 0;
          }

          &-content {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 1.5rem;
            text-align: center;
          }
        }
      }

      @media (orientation: portrait) {
        width: 100%;
        height: auto;
      }
    }

    &-left {
      align-items: flex-end;

      &-container {
        padding-bottom: 20px;
        align-items: flex-end;

        @media (orientation: portrait) {
          padding-bottom: 0;
          align-items: center;
        }

        &-row {
          background-color: $primaryColor;
          background-size: cover;
        }
      }
    }
    &-right {
      align-items: flex-start;

      &-container {
        padding-top: 20px;
        align-items: flex-start;

        @media (orientation: portrait) {
          padding-top: 0;
          align-items: center;
        }
        &-row {
          background-color: $secondaryColor;
          transform-origin: 0 50%;
        }
      }
    }
  }
}