@import 'public/styles/ayta/colors';

html #interium * {
  font-family: Arial, serif;
}

#interium h1, #interium h2 {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

#interium h1 {
  font-size: 3rem;
}

#interium h2 {
  font-size: 2rem;
}

.ComponentWrapper {
  padding: 4rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
