@import 'public/styles/kotelnikovo/colors';

.Numbers01 {
  width: 100%;
  height: auto;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;

  &__item {
    width: auto;
    height: auto;
    padding: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;

    &-prefix, &-number, &-suffix {
      display: inline;
    }

    &-prefix, &-suffix, &-description {
      font-size: 2rem;
    }

    &-number {
      font-family: Monitorca-Bold;
      font-size: 3rem;
    }
  }
}