@import 'public/styles/kotelnikovo/colors';
@import 'public/styles/mixins';

.Gallery02 {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  &__title {
    width: 100%;
    font-size: 3rem;
    font-family: Monitorca-Bold;
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0 20px 0;
  }

  &__gallery {
    margin: 0 auto;
    position: relative;

    &-item {
      position: absolute;
      transition: all 0.5s ease;
      cursor: pointer;
      box-sizing: border-box;
      border: 5px solid $primaryColor;
    }
  }
}