@import '../../../public/styles/kotelnikovo/colors';

.Features03 {
  height: auto;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  background-color: $blackColor;
  color: $whiteColor;
}
