@import 'public/styles/kotelnikovo/colors';
@import 'public/styles/kotelnikovo/variables';

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300, 700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');


@font-face {
  font-family: 'Monitorca';
  src: url('/fonts/kotelnikovo/Monitorca-Rg.ttf') format('truetype');
}

@font-face {
  font-family: 'Monitorca-Bold';
  src: url('/fonts/kotelnikovo/Monitorca-Bd.ttf') format('truetype');
}

@font-face {
  font-family: 'Monitorca-Italic';
  src: url('/fonts/kotelnikovo/Monitorca-It.ttf') format('truetype');
}

html #kotelnikovo {
  font-family: Monitorca, serif;
}

#kotelnikovo h1, #kotelnikovo h2 {
  font-family: Monitorca-Bold, serif;
  text-align: center;
  text-transform: uppercase;
}

#kotelnikovo h1 {
  padding-top: $blockMarginX;
  padding-bottom: $blockMarginX / 4;
  font-size: 3rem;
}

#kotelnikovo h2 {
  padding-top: $blockMarginX / 2;
  padding-bottom: $blockMarginX / 4;
  font-size: 2rem;
}
