@import 'public/styles/colors';

.List01 {
  height: auto;
  align-items: center;
  justify-content: flex-start;
  background-color: $minorPrimaryColor;
  color: $secondaryFontColor;

  &__title {
    text-align: center;
    padding-bottom: 2rem;

    h1 {
      text-transform: uppercase;
    }
  }

  &__items {
    max-width: 80%;

    @media (max-width: 400px) {
      max-width: 90%;
    }
    &-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding-bottom: 2rem;
      &-mark {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 3rem;
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
        box-sizing: border-box;
        border-style: solid;
        border-color: $secondaryColor;
        border-width: 1.5rem;
        overflow: hidden;
        transition: all 1s ease;

        &.showed {
          border-width: 0.2rem;
        }


        &-checked {
          width: 70%;
          height: 70%;
          background: url('/images/List01/correct.svg') center no-repeat;
          background-size: cover;
        }
      }
      &-text {
        max-width: calc(100% - 3rem);
        margin-left: 1rem;
        font-size: 1.5rem;
      }
    }
  }
}