@import 'public/styles/kotelnikovo/colors';

$pdfControlsHeight: 40px;

.Works01 {
  height: auto;
  background-color: $blackColor;
  color: $whiteColor;

  &__works {
    &-row {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 140px;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 40px;

      &-photo, &-about, &-description, &-open, &-download {
        font-style: italic;
        flex-shrink: 0;
      }

      &-photo {
        width: 100px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        &-image {
          border: 5px solid $primaryColor;
          box-sizing: border-box;
          width: 100px;
          height: 140px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }

      &-about {
        width: auto;
        max-width: 20%;
        height: auto;
        text-align: center;
      }

      &-description {
        width: auto;
        max-width: 40%;
        height: auto;
        text-align: center;
      }

      &-controls {
        width: auto;
        height: auto;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;

        &-open, &-download, &-vote {
          padding: 10px;
        }

        &-open span, &-download a, &-vote span {
          text-decoration: underline;
          color: $whiteColor;
          cursor: pointer;
        }

        &-vote {
          padding-right: 0;
        }
      }
    }
  }

  &__workPopup {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000080;
    z-index: 6;
    &-content {
      position: relative;
      width: auto;
      height: 90%;
      overflow: hidden;
      &-controls {
        width: 100%;
        height: $pdfControlsHeight;
        background-color: #c4c4c4;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &-previous, &-next {
          &.disabled {
            color: #999999;
            cursor: unset;
          }
        }

        &-previous, &-next, &-close {
          padding: 10px;
          cursor: pointer;
        }
        &-close {
          position: absolute;
          right: 0;
        }
      }
      &-pdf {
        width: auto;
        height: 100%;
        overflow-y: scroll;
      }
    }
  }
}
