@import '../../../public/styles/colors';

.Features01 {
  height: auto;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  background-color: $primaryFontColor;
  color: $blackColor;
  padding-bottom: 2rem !important;

  &__title {
    padding-bottom: 2rem;
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    &-column {
      max-width: 30%;
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: flex-start;
      margin-bottom: 2rem;

      @media (max-width: 600px) {
        max-width: 100%;
        width: 100%;
      }

      &-icon {
        position: relative;
        width: 8rem;
        height: 8rem;
        background-color: $primaryColor;
        border-radius: 4rem;
        margin-bottom: 1rem;

        @media (max-width: 600px) {
          width: 10rem;
          height: 10rem;
          border-radius: 5rem;
        }

        &-image {
          position: absolute;
          top: 25%;
          left: 25%;
          width: 50%;
          height: 50%;
        }

        &-border {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          animation-name: spin;
          animation-duration: 20000ms;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;

          @keyframes spin {
            from {
              transform: rotate(0deg);
            }
            50% {
              transform: rotate(360deg);
            }
            to {
              transform: rotate(0deg);
            }
          }

          @for $i from 0 through 3 {
            &.item-#{$i} {
              animation-delay: #{$i * 2000}ms;
            }
          }
        }
      }

      &-description {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;

        @media (max-width: 600px) {
          flex-direction: row;
        }

        &-row {
          padding: 0 2rem;
          &-number {
            font-size: 4rem;
            line-height: 4rem;
          }
          &-text {
            font-size: 1rem;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  &__paragraphs {
    &-item {
      width: 100%;
      height: auto;
      position: relative;

      &-gate {
        position: absolute;
        width: 3000px;
        height: 100%;
        background-color: $primaryFontColor;

        &.left {
          right: 50%;
          border-right: 0.2rem solid $primaryColor;
        }

        &.right {
          left: 50%;
          border-left: 0.2rem solid $primaryColor;
        }
      }

      p {
        color: $blackColor;
        margin: 2rem 0;
        padding: 2rem;
        font-size: 1.2rem;
      }
    }
  }
}