@import 'public/styles/kotelnikovo/colors';

.Paragraph01 {
  overflow: hidden;
  &__paragraph {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0 0 1px $blackColor;

    &-title {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        width: 20px;
        height: 20px;
        margin-left: 10px;
        margin-top: 6px;
        transform: rotate(90deg);
        transition: all 0.5s ease;

        .opened & {
          transform: rotate(-90deg);
        }
      }
    }

    &-text {
      transition: all 0.5s ease;
      .opened & {
        transition: all 0.5s ease 0.5s;
      }
    }
  }
}
