@import '../../../public/styles/colors';

.Footer01 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 20px 0;
  background-color: #c4c4c4;

  &__logo, &__contacts, &__social, &__publish {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 15px;
    &-title {
      font-weight: 700;
      padding-bottom: 5px;
    }
  }

  &__logo {
    width: 20%;
    img {
      max-width: 40%;
      height: auto;
    }
  }

  &__contacts {

    align-items: flex-start;
  }

  &__social {
    &-links {
      display: flex;
      flex-direction: row;

      .link {
        width: 30px;
        height: 30px;
        margin: 0 5px;
      }

      &-youtube {
        background: url('/images/Footer01/youtube.svg') center no-repeat;
        background-size: contain;
      }

      &-instagram {
        background: url('/images/Footer01/instagram.svg') center no-repeat;
        background-size: contain;
      }

      &-ok {
        background: url('/images/Footer01/ok.svg') center no-repeat;
        background-size: contain;
      }
    }
  }

  &__publish {
    &-button {
      padding: 10px;
      width: auto;
      height: auto;
      background-color: #000;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
    }
  }
}